body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #ededed;
  padding: 15px;
  text-align: center;
}

.products {
  background-color: #1f1f1f;
  color: #ededed;
  padding: 15px;
}

.products ul {
  padding: 0 0 0 20px;
}

.products li {
  font-weight: 500;
  margin: 10px 0;
}

.footer {
  background-color: #ededed;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
